body {
    font-family: "Oswald", serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f5;
    color: #333;
 }
 /* Cabeçalho */
 header {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
 }
 /* Navegação */
.form-nav {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    gap: 15px;
 }
 .nav-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
 }
 .nav-button:hover {
    background-color: #0056b3;
 }

 .button-manutenção{
   font-family: "Inter", serif;
   color: #DFD3C3;
   padding: 7px 12px;
   border-radius: 5px;
   background-color: #C5705D;
   cursor: pointer;
 }
 .button-manutenção:hover{
   background-color: #FF004D;
 }
 /* Formulários */
 .formulario {
    display: none;
    max-width: 600px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
 }
 .formulario.ativo {
    display: block;
 }
 h2 {
    text-align: center;
    color: #333;
 }
 /* Formulário */
 .form-group {
    margin-bottom: 15px;
 }
 label { 
    font-family: Arial, sans-serif;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
 }
 p{
   font-family: "Inter", serif;
   font-size: 14.5px;
 }
 input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
 }
 input:focus {
    border-color: #007bff;
    outline: none;
 }
 /* Botão form */
 .submit-button {
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
 }
 .submit-button:hover {
    background-color: #4cae4c;
 }