/* Reset básico */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial, sans-serif;
}

body{
   font-family: "Oswald", serif;
}
/* Estilização do cabeçalho */
header {
   background-color: #333;
   color: white;
   padding: 15px;
   text-align: center;
}

h1{
   font-family: "Oswald", serif;
   margin-top: 12px;
}

h2{
   font-family: "Oswald", serif;
   margin-bottom: 15px;
}

h3{
   font-family: "Oswald", serif;
   margin-bottom: 15px;
   text-align: center;
}

/* Estilização do conteúdo principal */
main {
   padding: 30px 20px;
   max-width: 800px;
   margin: auto;
}
/* Botões do menu */
.menu-gerenciamento {
   display: flex;
   justify-content: center;
   gap: 15px; /* Espaçamento entre os botões */
   margin-bottom: 30px; /* Espaço abaixo do menu */
}
.menu-gerenciamento button {
   padding: 12px 25px;
   font-size: 16px;
   font-family: "Oswald", serif;
   border: none;
   cursor: pointer;
   background-color: #007bff;
   color: white;
   border-radius: 5px;
   transition: 0.3s;
}
.menu-gerenciamento button:hover {
   background-color: #0056b3;
}
/* Formulários */
.formulario {
   background: #f8f8f8;
   padding: 25px;
   border-radius: 8px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
form {
   display: flex;
   flex-direction: column;
   gap: 15px; /* Maior espaçamento entre os campos */
}
label {
   font-weight: bold;
}
input, select {
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
   font-size: 16px;
}
button {
   padding: 12px;
   background: #28a745;
   color: white;
   border: none;
   cursor: pointer;
   border-radius: 5px;
   font-size: 16px;
   font-family: "Oswald", serif;
   transition: 0.3s;
}
button:hover {
   background: #218838;
}
/* Seções de gerenciamento */
.secao-gerenciamento {
   display: none;
   padding-top: 20px; /* Adiciona espaço entre o título e o formulário */
}
/* Exibir a seção ativa */
.secao-gerenciamento.ativa {
   display: block;
}


.equipamentos-container {
   margin-top: 15px;
   padding: 10px;
   background-color: #f8f9fa;
   border: 1px solid #ccc;
   border-radius: 8px;
   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
   display: none; 
}

.equipamentos-container label {
   font-weight: bold;
   font-family: "Oswald", serif;
   color: #3674B5;
   display: block;
   margin-bottom: 5px;
   font-size: 1.1em;
}

.equipamentos-container ul {
   list-style: none;
   padding: 0;
   margin: 0;
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
}

.equipamentos-container li {
   font-family: "Oswald", serif;
   background-color: #3674B5;
   color: #fff;
   padding: 5px 10px;
   border-radius: 5px;
   font-size: 0.9em;
   display: inline-block;
   margin: 5px; 
}
